In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('Raw_data.csv')
data

,client_id,gender,birth_date,create_date,nonresident_flag,businessman_flag,city,term,contract_sum,product_category_name,...,card_type_name,start_date,fact_close_date,purchase_sum,purchase_count,current_balance_avg_sum,current_balance_sum,current_debit_turn_sum,current_credit_turn_sum,card_type
0,fe60b594364f9f636266ed1ef4f89c32,Ж,1985,2020-01-29,R,0,Гусь-Хрустальный,NaN,0.0,Договор на текущий счет для дебетовой карты,...,Visa Platinum Rewards,2019.0,2021.0,16600.0,71,39700.0,25700.0,220600.0,201000.0,dc
1,3012cabca5885ed53d348d6e57dab5de,М,1951,2009-09-24,R,0,Ишимбай,NaN,0.0,Договор на текущий счет для дебетовой карты,...,VISA Classic,2019.0,NaN,0.0,0,1900.0,1000.0,6200.0,3000.0,dc
2,d871ef96820b6c7a1ada8e01a772724e,Ж,1982,2006-12-25,R,0,Юрга,NaN,0.0,Договор на текущий счет для дебетовой карты,...,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,dc
3,0bacbc2abd314f9fac031d249e485a7b,М,1955,2011-04-15,R,0,Томск,NaN,0.0,Договор на текущий счет для дебетовой карты,...,Visa Rewards,2021.0,NaN,24300.0,118,0.0,0.0,35400.0,35400.0,cc
4,0bacbc2abd314f9fac031d249e485a7b,М,1955,2011-04-15,R,0,Томск,NaN,0.0,Договор на текущий счет для дебетовой карты,...,Eurocard/MasterCard World,2018.0,2022.0,24300.0,118,0.0,0.0,35400.0,35400.0,cc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371578,d69d3201104ab393c0638839a7284ad7,М,1953,2018-08-08,R,0,Пятигорск,NaN,200000.0,Кредитная карта,...,NaN,NaN,NaN,0.0,0,0.0,300.0,9900.0,10100.0,dc
371579,a936fb30e2268d2874cdcaa221032915,М,1997,2022-05-12,R,0,Кемерово,NaN,15000.0,Кредитная карта,...,NaN,NaN,NaN,15000.0,33,0.0,0.0,15000.0,15000.0,dc
371580,a9cf0bb4f06fa321704ced777e993b33,М,1983,2021-10-15,R,0,Санкт-Петербург,NaN,15000.0,Кредитная карта,...,NaN,NaN,NaN,600.0,5,0.0,0.0,1100.0,1100.0,dc
371581,f69eb17242ca85eb21349dc08220afb8,Ж,1986,2022-02-12,R,0,Уфа,NaN,15000.0,Кредитная карта,...,NaN,NaN,NaN,0.0,0,0.0,0.0,1100.0,1100.0,dc
371582,93237191eddf8dec77cc947c3c086358,Ж,1959,2012-07-19,R,0,Москва,NaN,30000.0,Кредитная карта,...,NaN,NaN,NaN,9900.0,19,0.0,0.0,29900.0,29900.0,dc

In [50]:
data.shape

(371583, 21)

In [9]:
#    .card_id.unique()   
data.card_id.unique()            
#len(data.card_id.unique())

array(['a83cbc33f164deae41b3339141923cc7',
       '8dae17a830bb05d151034df618efbcad',
       '429ca8c43cdc5f3d8c9efc9069ee3fa6', ...,
       'a78c73e84e893179de17071583cf5084',
       'e3304eaf55891a175b6abf8030b99da1',
       'db7d3058f19b8bab645cf33efd86330d'], dtype=object)

In [10]:
data['card_id'].value_counts()

bb609973024e83acdc33b86518958f8b    72
8ca652c0aca661b8cb160c740abbec79    72
271055e0b4e36e867936b5c81603810e    48
564de6829604cc05cc97ed3ed5ff34c0    48
7b5e2aaf5f475c7c3ff7bf6729828586    48
                                    ..
4e0f69499377c2fbb032df3646014e87     1
394de8a01716c66187a1c8d940c141f5     1
f344912dbd9acdddfc587cd9d9bfe8f9     1
7669ae976129f58763ba3bb4f0d52346     1
db7d3058f19b8bab645cf33efd86330d     1
Name: card_id, Length: 22583, dtype: int64

In [51]:
data.dtypes

client_id                   object
gender                      object
birth_date                   int64
create_date                 object
nonresident_flag            object
businessman_flag             int64
city                        object
term                       float64
contract_sum               float64
product_category_name       object
card_id                     object
card_type_name              object
start_date                 float64
fact_close_date            float64
purchase_sum               float64
purchase_count               int64
current_balance_avg_sum    float64
current_balance_sum        float64
current_debit_turn_sum     float64
current_credit_turn_sum    float64
card_type                   object
dtype: object

In [52]:
data.isnull().sum()

client_id                       0
gender                          0
birth_date                      0
create_date                     0
nonresident_flag                0
businessman_flag                0
city                         1168
term                       371583
contract_sum                    0
product_category_name           0
card_id                         0
card_type_name              52945
start_date                  52945
fact_close_date            239407
purchase_sum                    0
purchase_count                  0
current_balance_avg_sum         0
current_balance_sum             0
current_debit_turn_sum          0
current_credit_turn_sum         0
card_type                       0
dtype: int64

In [53]:
list(data)

['client_id',
 'gender',
 'birth_date',
 'create_date',
 'nonresident_flag',
 'businessman_flag',
 'city',
 'term',
 'contract_sum',
 'product_category_name',
 'card_id',
 'card_type_name',
 'start_date',
 'fact_close_date',
 'purchase_sum',
 'purchase_count',
 'current_balance_avg_sum',
 'current_balance_sum',
 'current_debit_turn_sum',
 'current_credit_turn_sum',
 'card_type']

In [60]:
data = data.drop(['term','businessman_flag'], axis=1)

In [61]:
data

,client_id,gender,birth_date,create_date,nonresident_flag,businessman_flag,city,contract_sum,product_category_name,card_id,card_type_name,start_date,fact_close_date,purchase_sum,purchase_count,current_balance_avg_sum,current_balance_sum,current_debit_turn_sum,current_credit_turn_sum,card_type
0,fe60b594364f9f636266ed1ef4f89c32,Ж,1985,2020-01-29,R,0,Гусь-Хрустальный,0.0,Договор на текущий счет для дебетовой карты,a83cbc33f164deae41b3339141923cc7,Visa Platinum Rewards,2019.0,2021.0,16600.0,71,39700.0,25700.0,220600.0,201000.0,dc
1,3012cabca5885ed53d348d6e57dab5de,М,1951,2009-09-24,R,0,Ишимбай,0.0,Договор на текущий счет для дебетовой карты,8dae17a830bb05d151034df618efbcad,VISA Classic,2019.0,NaN,0.0,0,1900.0,1000.0,6200.0,3000.0,dc
2,d871ef96820b6c7a1ada8e01a772724e,Ж,1982,2006-12-25,R,0,Юрга,0.0,Договор на текущий счет для дебетовой карты,429ca8c43cdc5f3d8c9efc9069ee3fa6,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,dc
3,0bacbc2abd314f9fac031d249e485a7b,М,1955,2011-04-15,R,0,Томск,0.0,Договор на текущий счет для дебетовой карты,e7f4adb9187b867ebea15503298437a3,Visa Rewards,2021.0,NaN,24300.0,118,0.0,0.0,35400.0,35400.0,cc
4,0bacbc2abd314f9fac031d249e485a7b,М,1955,2011-04-15,R,0,Томск,0.0,Договор на текущий счет для дебетовой карты,e7d13882154e965dca7070eb8d626f77,Eurocard/MasterCard World,2018.0,2022.0,24300.0,118,0.0,0.0,35400.0,35400.0,cc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371578,d69d3201104ab393c0638839a7284ad7,М,1953,2018-08-08,R,0,Пятигорск,200000.0,Кредитная карта,a78c73e84e893179de17071583cf5084,NaN,NaN,NaN,0.0,0,0.0,300.0,9900.0,10100.0,dc
371579,a936fb30e2268d2874cdcaa221032915,М,1997,2022-05-12,R,0,Кемерово,15000.0,Кредитная карта,e3304eaf55891a175b6abf8030b99da1,NaN,NaN,NaN,15000.0,33,0.0,0.0,15000.0,15000.0,dc
371580,a9cf0bb4f06fa321704ced777e993b33,М,1983,2021-10-15,R,0,Санкт-Петербург,15000.0,Кредитная карта,c53331e855fdda10b01fa1b11d96292c,NaN,NaN,NaN,600.0,5,0.0,0.0,1100.0,1100.0,dc
371581,f69eb17242ca85eb21349dc08220afb8,Ж,1986,2022-02-12,R,0,Уфа,15000.0,Кредитная карта,fe20a230ac51078059b03220558ed853,NaN,NaN,NaN,0.0,0,0.0,0.0,1100.0,1100.0,dc
371582,93237191eddf8dec77cc947c3c086358,Ж,1959,2012-07-19,R,0,Москва,30000.0,Кредитная карта,db7d3058f19b8bab645cf33efd86330d,NaN,NaN,NaN,9900.0,19,0.0,0.0,29900.0,29900.0,dc

In [75]:
data.gender.unique()
data.birth_date.unique()
data.create_date.unique()
##data.nonresident_flag.unique()
##data.businessman_flag.unique()
##len(data.city.unique())
##data.product_category_name.unique()
##data.card_type_name.unique()

array(['2020-01-29', '2009-09-24', '2006-12-25', ..., '2014-06-16',
       '2011-12-06', '2004-10-25'], dtype=object)

In [110]:
NaNMeambers = data[data['start_date'].isna()]
NaNMeambers = NaNMeambers.drop(['card_type_name','start_date','fact_close_date'], axis=1)
NaNMeambers

,client_id,gender,birth_date,create_date,nonresident_flag,businessman_flag,city,contract_sum,product_category_name,card_id,purchase_sum,purchase_count,current_balance_avg_sum,current_balance_sum,current_debit_turn_sum,current_credit_turn_sum,card_type
2,d871ef96820b6c7a1ada8e01a772724e,Ж,1982,2006-12-25,R,0,Юрга,0.0,Договор на текущий счет для дебетовой карты,429ca8c43cdc5f3d8c9efc9069ee3fa6,0.0,0,0.0,0.0,0.0,0.0,dc
12,e21406a57c304316507e3a64557d5868,Ж,1982,2018-04-04,R,0,Туапсе,25000.0,Кредитная карта,4275e8186234e9990cb32e5e87501f71,0.0,0,0.0,0.0,5300.0,5300.0,dc
14,605c9ffb0ee9d43513b39da91b237c39,М,1958,2014-12-09,R,0,Санкт-Петербург,300000.0,Кредитная карта,e459ed5d109379b79145687c3d69ec78,0.0,0,0.0,0.0,7000.0,7000.0,dc
16,47a1ae7b4e5ce46e69497b59dc87f45e,Ж,1969,2018-02-05,R,0,Прокопьевск,0.0,Договор на текущий счет для дебетовой карты,1e61472d87e87e4c7a64d9c14351a5c7,0.0,0,0.0,0.0,0.0,0.0,dc
19,a548b6abe25890a6e33f2c6673ea7306,Ж,1962,2006-05-17,R,0,Анапа,370000.0,Кредитная карта,97c804fb8fa568b8d44061529d295eab,16500.0,7,0.0,0.0,50700.0,50700.0,dc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371578,d69d3201104ab393c0638839a7284ad7,М,1953,2018-08-08,R,0,Пятигорск,200000.0,Кредитная карта,a78c73e84e893179de17071583cf5084,0.0,0,0.0,300.0,9900.0,10100.0,dc
371579,a936fb30e2268d2874cdcaa221032915,М,1997,2022-05-12,R,0,Кемерово,15000.0,Кредитная карта,e3304eaf55891a175b6abf8030b99da1,15000.0,33,0.0,0.0,15000.0,15000.0,dc
371580,a9cf0bb4f06fa321704ced777e993b33,М,1983,2021-10-15,R,0,Санкт-Петербург,15000.0,Кредитная карта,c53331e855fdda10b01fa1b11d96292c,600.0,5,0.0,0.0,1100.0,1100.0,dc
371581,f69eb17242ca85eb21349dc08220afb8,Ж,1986,2022-02-12,R,0,Уфа,15000.0,Кредитная карта,fe20a230ac51078059b03220558ed853,0.0,0,0.0,0.0,1100.0,1100.0,dc
371582,93237191eddf8dec77cc947c3c086358,Ж,1959,2012-07-19,R,0,Москва,30000.0,Кредитная карта,db7d3058f19b8bab645cf33efd86330d,9900.0,19,0.0,0.0,29900.0,29900.0,dc

In [84]:
NaNMeambers.isnull().sum()

client_id                      0
gender                         0
birth_date                     0
create_date                    0
nonresident_flag               0
businessman_flag               0
city                          78
contract_sum                   0
product_category_name          0
card_id                        0
card_type_name             52945
start_date                 52945
fact_close_date            52945
purchase_sum                   0
purchase_count                 0
current_balance_avg_sum        0
current_balance_sum            0
current_debit_turn_sum         0
current_credit_turn_sum        0
card_type                      0
dtype: int64

In [113]:
#NaNMeambers.gender.unique()
#NaNMeambers.birth_date.unique()
#NaNMeambers.create_date.unique()
#NaNMeambers.nonresident_flag.unique() # 2
#NaNMeambers.businessman_flag.unique() # 0 1
#len(NaNMeambers.city.unique()) #  -150
#NaNMeambers.product_category_name.unique() -2
#NaNMeambers.card_type_name.unique() ### nan -1


#NaNMeambers.contract_sum.unique() 

#NaNMeambers.card_id.unique() 

#NaNMeambers.start_date.unique() # nan -1 

#NaNMeambers.fact_close_date.unique() # nan -1 

#NaNMeambers.purchase_sum.unique() 

#NaNMeambers.purchase_count.unique() 

len(NaNMeambers.current_balance_avg_sum.unique())

#NaNMeambers.current_balance_sum.unique() 

#NaNMeambers.current_debit_turn_sum.unique()                    

#NaNMeambers.current_credit_turn_sum.unique()                

#NaNMeambers.card_type.unique()    ## dc - 1

2259

In [114]:
#NaNMeambers.query("contract_sum == 0")
NaNMeambers.dtypes

client_id                   object
gender                      object
birth_date                   int64
create_date                 object
nonresident_flag            object
businessman_flag             int64
city                        object
contract_sum               float64
product_category_name       object
card_id                     object
purchase_sum               float64
purchase_count               int64
current_balance_avg_sum    float64
current_balance_sum        float64
current_debit_turn_sum     float64
current_credit_turn_sum    float64
card_type                   object
dtype: object